/**
* Variables
**/
$background-color: #F4F7FD;
$primary-color: #585a5f;
$dark-blue: #5e8af1;
$secondary-color: #ffe043;
$kbd-border-radius: 10px; // Borders of vuetify
$text-field-border-radius: 8px; // Borders of vuetify

// Colors
$white: #ffffff;
$menu-color: #313945;